/*Diseño para about us */
.barra-superior {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-image: none;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

#fondo {
    background-image: radial-gradient(#009bf59c 1%, #22222200 75%);
}

.indices-der {
    gap: 25px;
    align-items: center;
}

hr {
    height: 25px;
}

#titulo3 {
    margin: 0 15px;
}

#container {
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-content: center;
}

/* Añadir un espacio entre secciones */
section, footer {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    align-items: center;
}

#ingreso {
    background-color: #0041F5; 
    border: none; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px;  
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s, transform 0.2s; 
}

#ingreso:hover {
    background-color: #1719a9;
    transform: scale(1.1); 
}

#ingreso a {
    color: white; 
    text-decoration: none; 
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 1.6;
}

/* Títulos */
h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffffff; /* Dorado para destacar */
}

/* Párrafos */
p, blockquote {
    font-size: 1.1rem;
    margin: 10px 0;
    color: #f1f1f1; /* Texto más claro */
}

/* Citas */
blockquote {
    font-style: italic;
    border-left: 5px solid #0041F5; /* Acento dorado */
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1); /* Fondo transparente */
}

.degradado.azul {
    background-image: linear-gradient(180deg, #090299 10%, #222222 100%);
}

.contenido {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    max-width: 50%;
}

#mockup-container {
    background-image: radial-gradient(circle closest-side, #1d788f 10%, #222222 100%);
}

.contenido.mockup {
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#mockup {
    width: 130%;
    margin: auto;
}

#mockup img {
    width: 130%;
}

.degradado.morado {
    background-image: linear-gradient(215deg, #222222 30%, rgb(164, 124, 250) 100%)
}

#vision {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

#vision div {
    max-width: 100%;
    width: 30%;
}

@media (max-width: 768px) {
    .contenido {
        max-width: 100%;
    }
    
    #vision div {
        max-width: 100%;
        min-width: 50%;
    }

    .contenido.mockup {
        max-width: 100%;
    }

    #mockup {
        flex: 1;
    }
}

.contenido.nosotros {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.nosotros-info h2 {
    margin: 0;
    padding: 0;
}

.nosotros-info {
    text-align: left;
    width: auto;
    min-height: 100%;
}

#nosotros {
    max-width: 100%;
    border-radius: 30px;
}

@media (max-width: 768px) {
    .contenido.nosotros {
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }

    .nosotros-info{
        text-align: center;
    }

    #nosotros {
        max-width: 100%;
        height: auto;
    }

    .pildora_boton {
        width: 65%;
    }
}