/*Dise침o de la pantalla principal*/
.logo img {
    width: 50px;
}

h1 {    
    flex: 1;
    text-align: center;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login a:hover {
    color: #8F28F5;
}

.logo {
    font-size: 24px;
    margin: 0;
    align-items: center;
}

.login-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.pildora_boton {
    background-color: #0041F5;
    color: white;
    padding: 10px 10px;
    width: 50%;
    border: none;
    border-radius: 100px;
    position: relative;
    bottom: -30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.pildora_boton {
    cursor: pointer;
}

.pildora_boton span {
    flex: 1;
    margin: 0;
}

.pildora_boton i {
    font-size: 25px;
}

.contenido {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 12px;
    align-items: center;
    gap: 10px;
}


.rutas {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    padding: 20px;
}

.rutas.desactivado {
    color: lightslategray;
}

.rutas.desactivado:hover {
    cursor: default;
}

.info h2 {
    margin-top: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.preview {
    width: 60%;
    display: flex;
    justify-content: end;
}

.preview img {
    max-width: 60%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .info {
        flex-wrap: wrap;
        flex-direction: column; /* Cambia la direcci칩n del flex a columna */
        justify-content: center; /* Centra los elementos */
        align-items: center;
    }
    .preview {
        justify-content: center;
        max-width: 100% 
    }
    .preview img {
        max-width: 100%;
        height: auto;
    }
}
/* Estilos de inicio de sesi칩n y del apartado de registro*/

#lokeseaxd {
    font-family: Arial, sans-serif;
    background-image: url('/assets/ejemplo.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    padding-top: 15px;
}

.inicio {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.429);
    vertical-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}
#titulo {
    margin-bottom: 20px;
    font-size: 24px;
    color:#0041F5;
    text-shadow: 2px 2px 5px #3f3f3f;
}

input[type="text"],
input[type="password"], 
input[type="email"],
textarea,
#baton {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

#baton {
    background-color: #0900ba;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

a {
    color: #9ab5ff;
}

#baton:hover{
    background-color: #681d9d;
}

.contra {
    font-size: 14px;
    color: #aaa;
 }

/*Dise침o para quejas*/
.inicio {
    gap: 10px;
}

textarea {
    resize: none;
}