/*Diseño de la pantalla principal*/
body {
    position: relative;
    top: 70px;
}


.logo img {
    width: 50px;
}

h1 {    
    flex: 1;
    text-align: center;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login a:hover {
    color: #8F28F5;
}

.logo {
    font-size: 24px;
    margin: 0;
    align-items: center;
}

.login-link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.pildora_boton {
    background-color: #0041F5;
    color: white;
    padding: 10px 10px;
    width: 50%;
    border: none;
    border-radius: 100px;
    position: relative;
    bottom: -30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.pildora_boton {
    cursor: pointer;
}

.pildora_boton span {
    flex: 1;
    margin: 0;
}

.pildora_boton i {
    font-size: 25px;
}

.contenido {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 12px;
    align-items: center;
    gap: 10px;
}

.contenido a {
    text-decoration: none;
}

.rutas {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    padding: 20px;
}


.rutas.desactivado {
    color: lightslategray;
}

.rutas.desactivado:hover {
    cursor: default;
}

.info h2 {
    margin-top: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.preview {
    width: 75%;
    display: flex;
    justify-content: end;
}

.preview img {
    max-width: 90%;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
    margin: auto 0;
}
/* Para proporciones más estrechas */
@media (max-width: 768px) {
    .info {
        flex-wrap: wrap;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    .preview {
        justify-content: center;
        width: 100%;
    }
    .preview img {
        max-width: 100%;
        height: auto;
    }

    .pildora_boton {
        width: 65%;
    }
}
.more-content{ 
    display: contents;
}
/* Estilos de inicio de sesión y del apartado de registro*/

#lokeseaxd {
    font-family: Arial, sans-serif;
    background-image: url('/assets/ejemplo.png');
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff;
    padding-top: 15px;
}

.inicio {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-style: solid;
    border-color: rgb(193, 193, 193);
    border-width: 1px;
    background-color: rgba(0, 0, 0, 0.429);
    vertical-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    width: 350px;
    text-align: center;
}

#titulo {
    margin-bottom: 20px;
    font-size: 24px;
    color:#0041F5;
    text-shadow: 2px 2px 5px #3f3f3f;
}

input[type="text"],
input[type="password"], 
input[type="email"],
#organizaciones,
#ruta,
textarea,
#baton {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
}

#baton {
    background-color: #0900ba;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

a {
    color: #9ab5ff;
}

#baton:hover{
    background-color: #681d9d;
}

.registrarse {
    margin-top: 20px;
}

.contra {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
 }

textarea {
    resize: none;
}

/*Diseño para about us */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
    justify-content: center; /* Centra el contenido verticalmente */
}

.general {
    text-align: center;
    margin-bottom: 20px;
}

/* Animación para aparecer desde abajo */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Clase que activa la animación */
.fade-in {
    opacity: 0; /* Comienza invisible */
    transform: translateY(50px);
    animation: fadeInUp 1s ease forwards; /* Duración y suavizado */
}

.fade-in.visible {
    opacity: 1; /* Aparece */
    transform: translateY(0); /* Se mueve a su posición final */
}

/* Añadir un espacio entre secciones */
section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*Todo lo que tenga que ver con perfil*/
.perfil {
    display: flex;
    color: black;
    background-color: white;
    border-radius: 999px;
    width: 90%;
    margin: 10px;
    padding: 10px;
    margin: 0;
    gap: 20px;
    align-items: center;
}

#foto img {
    width: 80px;
    border-radius: 100%;
}

.comentario {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
}

.comentario h3 {
    margin: 0;
}

.contenido {
    margin-bottom: 90px;
}

.contenido #comentario {
    margin: 10px;
    color: #3f3f3f;
    text-decoration:underline;
}
