* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/assets/ejemplo.png');
    height: 200vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

header {
    background-color: #0041F5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.logo img {
    width: 50px;
}

h1 {
    flex-grow: 1;
    text-align: center;
    font-size: 24px;
    margin-left: -50px;
}

h1 :hover{
color: #8F28F5;
}

.login a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.login a:hover {
    color: #8F28F5;
}